/*setting the background color for the whole page*/
/*setting the font size and line height for the whold page*/
body {
    background-color: #d9dcd6;
    font-size: 16px;
    line-height: 1.25em;
}

/*css styling for the box and elements in the header above the hero img.*/
/*making header-main container box flex and it's descendents*/
.header-main {
    padding: 20px;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    font-size: 48px;
    display: flex;
}

/*adding some margin top to push the h1 down 15 pixles*/
h1 {
    margin-top: 15px;
}

/*css styling of the span seo*/
span.seo {
    color: #d9dcd6;
}

/*css styling for the nav bar and it's elements.*/
/*making nav container flex and it's descendents and justifying the content to the right.*/
nav {
    width: 100%;
    padding-top: 15px;
    margin-right: 10px;
    margin-bottom: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
}

/*clears the default list style type disc*/
nav ul {
    list-style-type: none;
}

/*inline-block does not add a line-break after the element, so the element can sit next to the other elements*/
nav li {
    display: inline-block;
    margin-left: 25px;
}

/*sets color and no text decoration properies for links*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*hero image below header*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*main content section of the page*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*calling the same styel properties and values in to one class*/
.card {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*sets any img tag after class card is called to a max height of 200px.*/
.card img {
    max-height: 200px;
}

/*floats image left*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*floats image right*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*sets any h2 element after class card is called to these properites and values*/
.card h2 {
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 1.15em;
}

/*sets these properites and values for section aside*/
/*aside floats to the right of the main content.*/
.benefits-sidebar {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*combined selectors calling the same style properties and values into one class name*/
/*sets margin bottom and color of font for all child elements*/
.benefits-box {
    margin-bottom: 32px;
    color: #ffffff;
}

/*took out margin bottom 10px because it was overriding the inherited vlaue of 32px and causing spacing issues.*/
/*I simplified the selector by getting rid of any class names and setting it to all h3 types with this property and value.*/
/*by specifying just the h3 to be text align center, it allows for the p tags in the div to keep a left alignment.*/
h3 {
    text-align: center;
}

/*combined all selectors calling the same style properties and values*/
/*css styling for image properties in the aside block*/
.benefits-box img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*set display to none to hide content from user*/
.footer {
    padding: 30px;
    clear: both;
    display: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
